/* Navbar.css */
.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
    background-color: #f0f8ff;
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar li {
    margin: 0 10px;
  }
  
  .navbar button {
    padding: 5px 10px;
    font-size: 0.9rem;
    color: white;
    background-color: #555;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .navbar button:hover {
    background-color: #777;
  }
  