.admin-dashboard {
  display: flex;
  height: 100vh;
  text-align: center;
}

.sidebar {
  width: 200px;
  background: #f4f4f4;
  padding: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  text-align: left; /* Justera texten till vänster */
}

.sidebar ul li a:hover {
  background-color: #ddd;
}

.admin-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrerar horisontellt */
  justify-content: top; /* Centrerar vertikalt */
  padding: 20px;
  background: #fff;
  text-align: center; /* Centrerar texten */
}

.admin-content h1 {
  margin-bottom: 20px;
}

.admin-content p {
  max-width: 600px;
}
