/* AdminUsers.css */

.users-container {
  margin: 10px auto;
  max-width: 800px;
  padding: 20px;
  border-radius: 5px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: bold;
}

.users-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
}

.user-item {
  background-color: #333;
  padding: 15px;
  border-radius: 5px;
  color: #fff;
}

.user-item p {
  margin: 0;
  font-weight: bold;
}

.user-item button {
  margin-top: 10px;
  padding: 8px 15px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.user-item button:hover {
  background-color: #444;
}
