.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #f0f8ff;
  color: #333;
  padding: 20px;
  text-align: center;
  border-bottom: 3px solid #ccc;
}

nav {
  margin: 2px 0;
}

nav a {
  text-decoration: none;
  color: #333;
  margin: 0 10px;
}

nav a:hover {
  color: #0275d8;
}

Routes {
  padding: 20px;
}
